.overall_container {
  height: 620px;
  width: 97%;
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 20px;
  display: flex;
}
.image_and_info {
  /* border: 2px solid green; */
  width: 60%;
  height: 100%;
  /* border: 1px solid red; */
  box-shadow: 9px 5px 12px 9px rgba(0, 0, 0, 0.05);
}
.image_and_info img {
  height: 500px;
  width: 100%;
}
.image_info {
  height: 160px;
  width: 100%;
  /* border: 1px solid yellow; */
  margin-top: 4px;
}
.agent_contact {
  width: 40%;
  height: 100%;
  margin-left: 50px;
  /* border: 1px solid red; */
  box-shadow: 9px 5px 12px 9px rgba(0, 0, 0, 0.05);
  /* background-color: aqua; */
  border-radius: 3px;
}
