.Banner {
  background-image: url("https://rentalforyou.netlify.app/images/home.jpeg");
  height: 470px;
  width: auto;
  background-size: cover; /* This will resize the background image to cover the entire element */
  opacity: 0.9;
  /* display: block; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}

.Banner h1 {
  color: #ffffff;
  margin-top: 90px;
  margin-left: 30px;
  opacity: 1;
  width: 490px;
  position: relative;
}

.search_btn {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 30px;
  height: 20px;
  position: relative;
  gap: 5px;
}

.search_btn input {
  height: 30px;
  width: 22%;
  border-radius: 3px;
  opacity: 0.3;
  color: black;
  font-weight: 600;
}

.search_btn button {
  height: 35px;
  background-color: white;
  width: 120px;
  font-size: 0.875rem;
  opacity: 0.7;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .Banner {
    width: auto;
    margin: 0;
  }

  .Banner h1{
    width: auto;
  }
  
.search_btn input {
  width: auto;
  
}
  .search_btn button{
    width: auto;

  }
}
