.image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.image img {
  height: 450px;
  width: 100%;
  background-size: cover;
  border: 1px solid black;
}

.aboutus_desc {
  width: 600px;
  height: 260px;
  background-color: #fefefe;
  position: absolute;
  margin-left: 30%;
  margin-top: 18%;
  border: 2px solid white;
  border-radius: 5px;
}

.aboutus_desc h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #013796;
  font-weight: 600;
  margin-top: 5%;
  font-size: large;
}
.aboutus_desc p {
  font-weight: 400;
  font-size: medium;
  align-items: center;
  text-align: center;
  margin-top: 4%;
}
.aboutus_desc span {
  font-weight: 600;
}

.more_desc {
  margin-top: 7%;
  width: 80%;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}

.more_desc p {
  margin-top: 40px;
  color: #75869c;
  font-weight: 400;
}
.team_members {
  margin-top: 20px;
}

.team_members h1 {
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main_class {
    width: auto;
  }
  .image {
    width: auto;
    margin-bottom: 140px;
  }
  .aboutus_desc {
    margin-left: 0;
    width: 88%;
    margin-top: 40%;
    margin-left: 6%;
  }

  .image img {
    margin: 0;
    height: auto;
  }
  .more_desc {
    width: auto;
  }

  .aboutus_desc p {
    font-size: small;
  }
}
